<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>
  
  <header class="page-header" role="banner">
    
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    
    <a href="https://github.com/nileshmuthal1317/Linux_SysOps_Projects.git" class="btn">Linux SysOps Projects</a>
    <a href="https://github.com/nileshmuthal1317/Python_Bash_Projects.git" class="btn">Python/Bash Projects</a>
    <a href="https://github.com/nileshmuthal1317/AWS_Projects.git" class="btn">Cloud Projects</a>
    <a href="https://github.com/nileshmuthal1317/DevOps_Projects.git" class="btn">DevOps Projects</a>
    <a href="https://github.com/nileshmuthal1317/" class="btn">View on GitHub</a>
    
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}
    
  </main>
</body>
